<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		<footer th:fragment="footer">
			<div class="container">
	            <div class="row">
	                <div class="col-md-6">
	                    <h4>Contacto</h4>
	                    <p>Dirección: Ítalo Palanca N°10, San Salvador de Jujuy</p>
	                    <p>TELÉFONO: 388-422-1576</p>
						<p>HORARIO: 14:30 a 19:30 hs</p>
	                    <p>Email: info@unju.edu.ar</p>
	                </div>
	                <div class="col-md-6 text-end">
	                    <h4>Redes Sociales</h4>
	                    <a href="https://www.facebook.com/fiunju/">Facbook</a>
	                    <a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">Youtube</a>
	                    <a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">Linkedin</a>
	                    <a href="https://www.instagram.com/fiunju/">Instagram</a>
	                </div>
	            </div>
	        </div>
		</footer>
	</body>
</html>