<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" lang="es">
	<head th:fregment="head">
		<meta charset="UTF-8">
		<title data-th-text="${titulo}"></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
		<header th:fragment="header">
			 <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="display-4">Facultad de Ingenieria</h1>
                    <p class="lead">¡Educando a los ingenieros del futuro!</p>
                </div>
                <div class="col text-end">
                    <img th:src="@{/images/logounju.png}" alt="img-fluid" width="150">
                </div>
            </div>
        </div>

    	<!-- Barra de Navegación -->
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	        <div class="container">
	            <a class="navbar-brand" href="#">UNJu - Ingenieria</a>
	            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
	                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	            <div class="collapse navbar-collapse" id="navbarNav">
	                <ul class="navbar-nav ms-auto">
	                    <li class="nav-item">
	                        <a class="nav-link active" href="#">Inicio</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="#">Acerca de</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="#">Carreras</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="#">Noticias</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="#">Contacto</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </nav>
		</header>
	</body>
</html>